<!DOCTYPE html>
<html>
<audio id="audio_confusion" src="/audio/confusion.wav"></audio>
<audio id="audio_question" src="/audio/question.wav"></audio>
<audio id="audio_positive" src="/audio/positive.wav"></audio>
<audio id="audio_negative" src="/audio/negative.wav"></audio>
<audio id="audio_repeat" src="/audio/repeat.wav"></audio>

<audio id="audio_survey" src="/audio/survey.wav"></audio>
<audio id="audio_lowengage" src="/audio/noengagement.wav"></audio>

<audio id="audio_survey_positive" src="/audio/positive2.wav"></audio>
<audio id="audio_survey_negative" src="/audio/negative2.wav"></audio>
<table>
	<th>
		Lecturer "View"
	</th>
	<tr>
		<th>
			Volume
		</th>
		<td>
			<input id="master_gain_slider" type="range" value="1" min="0" max="2"step="0.01"></input>
		</td>
		<td>
			<div id="master_gain_display">1</div>
		</td>
	</tr>
	<tr>
		<td>
			<button id="get_all">Force Request Feedback</button>
		</td>
		<td id="feedback_time">
			15 seconds until next feedback request.
		</td>
	</tr>
	<tr>
		<td>
			<button id="survey">Start Survey</button>
		</td>
		<td id="survey_time">

		</td>
	</tr>
	<tr>
		<td>
			<button id="sound_test">Play Test Sound</button>
		</td>
	</tr>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/client-lecture.js"></script>

</html>