<!DOCTYPE html>
<html>
<a href="" id="student_positive">"I understand!"</a>
<br/>
<a href="" id="student_repeat">"Can you repeat that?"</a>
<br/>
<a href="" id="student_negative">"I don't understand."</a>
<br/>
<a href="" id="student_question">"I have a question."</a>
<script type="text/javascript" src="scripts/client-student.js"/>
</html>