body {
	display: block;
}

#lecture_audio {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 16px;
	font-size: 1em;
}

.inner_container {
	height: 640px;
	overflow: hidden;
}
.inner_border {
	width: 360px;
	height: 640px;
	border: 1px solid black;
	background-color: #BBBBBB;
	display: flex;
	flex-direction: column;
}

.outer_border {
	padding: 32px 32px 32px 32px;
	border-radius: 32px;
	border: 1px solid black;
	display: block;
	background-color: #333333;
	width: min-content;
}
.vertical_bar {
	flex: 0.5;
	display: block;
}

#master_gain_slider {
	display: inline-block;
	width: 50%;
	background-color: black;
}

.inner_border button {
	flex: 1;
	margin: 10px;
	border-radius: 20px;
	overflow: hidden;
}

.inner_border label {
	color: white;
	display: inline;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 110px;
}

.inner_border button .back {
	display: block;
	position: relative;
	line-height: 105px;
	top: -110px;
	z-index: 1;
	color: white;
	opacity: 0.25;
	font-size: 8em;
	font-weight: bold;
}

#student_positive {
	background-color: #A95AA1;
}

#student_repeat {
	background-color: #0F2080;
}

#student_negative {
	background-color: teal;
}

#student_question {
	background-color: #F5793A;
}

#survey_input {
	position: relative;
	height: 120px;
	top: -400px;
	transition: left 1s;
	background-color: #555555;
	border: 4px #888888 solid;
	border-radius: 10px;
	z-index: 3;
}

#survey_input p {
	margin: 0;
	padding-top: 10px;
	font-size: 1.25em;
	text-align: center;
	font-weight: bold;
	color: white;
	line-height: 1.25em;
	font-family: arial;
}
#survey_input div {
	display: flex;
	justify-content: center;
}
#survey_input button {
	display: inline-block;
	text-align: center;
	flex: 1;
	margin: 10px 15px 0 15px;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.25em;
}

#survey_input.open {
	left: 0;
}

#survey_input.closed {
	left: 360px;
}
#survey_yes {
	background-color: teal;
}

#survey_no {
	background-color: purple;
}

#notification {
	z-index: 3;
	height: 48px;
	position: relative;
	bottom: 176px;
	line-height: 48px;
	font-size: 1em;
	text-align: center;
	color: white;
	background-color: purple;
	font-family: arial;
	transition: bottom 1s;
	border-top: 2px solid #A95AA1;
}

#notification.open {
	bottom: 176px;
}

#notification.closed {
	bottom: 100px;
}